.footer{
    
        clear: both;
        border: none;
        color: hwb(0 100% 0%);
        padding: 0;
        text-align: center;
        vertical-align: middle;
        line-height: normal;
        margin: 0;
        position:absolute;
       margin-bottom: 0%;
        width: 100%;
    }

.carous {
    position: fixed;
    top :45%;  
    justify-content: center;
    left: 30%
}

.btn1{
  position: top;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.btn-primary{
    
    display: inline-block;    
}
.img {
    height: auto;
}
