.navbar {
    position:fixed;
    top: 2px;
    z-index:10;
    background:transparent;
    width:100%;
    margin-left: auto;

}
.nav-item{
    border-left: 1px solid white;
}

.img{
    width:5vw;
}



